<div class = "notFoundBody">
  <div class = "notFoundContent">
    <div>
      <h1> Page Not Found</h1>
    </div>
    <p>This file does not exist and there was no <span class = "greyHighLight">index.html</span> found in the current directory or <span class = "greyHighLight">404.html</span>  in the root directory.</p>
    <h3>Why am I seeing this? </h3>
    <p>You may have deployed the wrong directory for your application. Check your <span class = "greyHighLight">firebase.json</span> and make sure the public directory is pointing to a directory that contains an <span class = "greyHighLight">index.html</span> file.</p>

    <p>You can also add a <span class = "greyHighLight">404.html</span> in the root of your site to replace this page with a custom error page.</p>
  </div>
  <img src ="https://firebase.google.com/_static/661fbfe2dd/images/firebase/lockup.png" alt = "fireBaseLogo">
</div>