<div class = "registerBody">
  <h1>Register</h1>
  <form action="test.php" method="post">
    <fieldset>
      <p>
        <label>
          <input type="text" name="name" placeholder="Name"/>
        </label>
      </p>
      <p>
        <label>
          <input type="number" name="age" placeholder="Age" />
        </label>
      </p>
      <form class= "selection">
          
            <select id = "selector">
              <option value="sections"selected>Select Occupation</option> 
              <option value="home">Alien Hunter</option>
              <option value="science">Yoga Teacher</option>
              <option value="business">Dust Farmer</option>
              <option value="sports">Front-End Developer</option>
              
            </select>
        </form>
      
    </fieldset>
  </form>
  <h1><a href = "/encounters"class = "check-in"> Check-in </a></h1>
</div>