<div class = "registerBody">
  <h1>Register</h1>
  <form>
    <fieldset>
        <input type="text" placeholder="Name" required>
        <input type="number" placeholder="Age" required>
        <div class="custom-select">
            <select required>
                <option value="(none)">Select an Occupation</option>
                <!--marsJobs-->
                <option value = "{{marsJob[0].name}}">{{marsJob[0].name}}</option>
                <option value = "{{marsJob[1].name}}">{{marsJob[1].name}}</option>
                <option value = "{{marsJob[2].name}}">{{marsJob[2].name}}</option>
                <option value = "{{marsJob[3].name}}">{{marsJob[3].name}}</option>
                
            </select>
        </div>
    </fieldset>
    <fieldset>
            <button type="submit">Submit</button>
    </fieldset>
</form>
  <h1><a href = "/encounters"class = "check-in"> Check-in </a></h1>
</div>